/**********Кнопки************/
div.tab {
	height: 50px;
	display: flex;
}

div.tab button {
	flex: 1;
}

div.subtab {
	height: 50px;
	display: flex;
}

div.subtab button {
	flex: 1;
}

.button_inner_space {
	width: 1%;
}

#addDictButton {
	margin-left: 15px;
	border: 1px solid black;
}

#submitButton {
	margin-top: 30px;
	width: 180px;
	height: 40px;
}

#clearButton {
	margin-left: 85%;
	margin-top: 2%;
	width: 10%;
}


