/**********Flexbox***********/
.flexmain {
	width: 70%;
	display: flex;
}

section.left {
	width: 50%;
}

section.right {
	width: 50%;
}

.tabcontent {
	margin-top: 2%;
}

.tabcontent h3 {
	font-weight: bold;
	margin-bottom: 2%;
}

.subtabcontent {
	margin-top: 2%;
}



/**********Результат*********/
div.output_field {
	margin-top: 3%;
}

div.output_field h3 {
	font-weight: bold;
	margin-left: 3%;
}

div.result {
	margin-left: 1%;
	margin-top: 2%;
	border-left: 3px double grey;
	height: 405px;
}


/**********Картинка**********/
div.advert {
	margin-left: 3%;
	height: 144px;
}

div.advert img {
	width: 100%;
	height: 100%;
}
