@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: gray;    
}

header h1 {
	font-size: 2rem;
	font-weight: bold;
  padding-top: 1%;
	padding-bottom: 1%;
	font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
	margin-left: 20%;
}

main {
	margin-left: 20%;
}

nav {
  width: 100%;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	display: block;
}

nav ul {
  margin-bottom: 32px;
	background: #433673;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

nav a {
	font-weight: bold;
	color: #F3F3F3;
	text-decoration: none;
}

nav li {
  padding-right: 2%;
	display: inline;
}

nav li:first-child {
	margin-left: 20%;
}

