<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>

  <body>

  <header>
      <h1>Calculon_</h1>
      <nav class="menu">
        <ul>
          <li><a class="menu" href="/">Калькулятор</a></li>
          <li><a class="menu">Инструкции</a></li>
          <li><a class="menu">Формулы</a></li>
        </ul>
      </nav>
  </header>

  <main>

    <div class="flexmain">
      <section class="left">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'WBsole')">Wildberries ИП</button>
            <div class="button_inner_space"></div>
            <button class="tablinks" onclick="openTab(event, 'WBltd')">Wildberries ООО</button>
            <div class="button_inner_space"></div>
            <button class="tablinks" onclick="openTab(event, 'OZsole')">OZON ИП</button>
            <div class="button_inner_space"></div>
            <button class="tablinks" onclick="openTab(event, 'OZltd')">OZON ООО</button>
        </div>

        <div id="WBsole" class="tabcontent">

            <h3>Калькулятор для Wildberries ИП</h3>

            <div class="subtab">
              <button class="subtablinks" onclick="openSubTab(event, 'WBsolePrice')">Цена</button>
              <div class="button_inner_space"></div>
              <button class="subtablinks" onclick="openSubTab(event, 'WBsoleProfit')">Профит</button>
            </div>

            <div id="WBsolePrice" class="subtabcontent">

              <h4>Расчет цены</h4>
              <form id="priceForm-WBsolePrice" action="{{ url_for('calculate', tab='WBsole', subtab='Price') }}" method="post">

                <div class="flex_fields">                 
                  <div class="input_fields">
                    <h4>Проценты Wildberries</h4>
                    <input id="cperc" type="text" name="cperc" value="21" oninput="checkFormFields('WBsolePrice')"> %
                  </div>

                  <div class="input_fields_right">
                    <h4>Логистика Wildberries</h4>
                    <input id="cfix" type="text" name="cfix" value="30" oninput="checkFormFields('WBsolePrice')"> RUB
                  </div>

                  <div class="input_fields">
                    <h4>Налог для ИП в процентах</h4>
                    <input id="tax"  type="text" name="tax" value="7" oninput="checkFormFields('WBsolePrice')"> %
                  </div>

                  <div class="input_fields_right">
                    <h4>Риски в процентах</h4>
                    <input id="risk" type="text" name="risk" value="5" oninput="checkFormFields('WBsolePrice')"> %
                  </div>

                  <div class="input_fields">
                    <h4>Себестоимость единицы</h4>
                    <input id="cost_per_one" type="text" name="cost_per_one" oninput="checkFormFields('WBsolePrice')"> RUB
                  </div>

                  <div class="input_fields_right">
                    <h4>Профит</h4>
                    <input id="des_percent" type="text" name="des_percent" oninput="checkFormFields('WBsolePrice')"> %
                  </div>
                </div>

                <h4>Комплекты</h4>
                <div id="dictionary-container-WBsolePrice">
                  <div class="dictionary">
                    <label for="count_per_one">Количество:</label>
                    <input id="count" type="text" name="count" value="1" oninput="checkFormFields('WBsolePrice')">
                    <label for="box_wage_cost">Стоимость труда:</label>
                    <input id="wage" type="text" name="wage" oninput="checkFormFields('WBsolePrice')">
                    <label for="box_cost">Стоимость упаковки:</label>
                    <input id="cost_box" type="text" name="cost_box" oninput="checkFormFields('WBsolePrice')">
                    <label for="box_size">Размеры упаковки:</label>
                    <input id="box_size" type="text" name="box_size" value="10*10*10" oninput="checkFormFields('WBsolePrice')">
                  </div>
                </div>
                <button id="addDictButton" type="button" onclick="addDictionaryElement('WBsolePrice')">&#10133; Добавить</button><br>
                <input id="submitButton" type="submit" value="Расcчитать" disabled>
              </form>
            </div> 

            <div id="WBsoleProfit" class="subtabcontent">
              <h4>Расчет профита</h4>
              <form id="profitForm-WBsoleProfit" action="{{ url_for('calculate', tab='WBsole', subtab='Profit') }}" method="post">

                <div class="flex_fields">
                    <div class="input_fields">
                      <h4>Проценты Wildberries</h4>
                      <input id="cperc" type="text" name="cperc" value="21" oninput="checkFormFields('WBsoleProfit')"> %
                    </div>
                    <div class="input_fields_right">
                      <h4>Логистика Wildberries</h4>
                      <input id="cfix" type="text" name="cfix" value="30" oninput="checkFormFields('WBsoleProfit')"> RUB
                    </div>
                    <div class="input_fields">
                      <h4>Налог для ИП в процентах</h4>
                      <input id="tax" type="text" name="tax" value="7" oninput="checkFormFields('WBsoleProfit')"> %
                    </div>
                    <div class="input_fields_right">
                      <h4>Риски для ИП в процентах</h4>
                      <input id="risk" type="text" name="risk" value="5" oninput="checkFormFields('WBsoleProfit')"> %
                    </div>
                    <div class="input_fields">
                      <h4>Стоимость труда</h4>
                      <input id="wageProfit" type="text" name="wage" oninput="checkFormFields('WBsoleProfit')"> RUB
                    </div>
                    <div class="input_fields_right">
                      <h4>Стоимость упаковки</h4>
                      <input id="cost_boxProfit" type="text" name="cost_box" oninput="checkFormFields('WBsoleProfit')"> RUB
                    </div>
                    <div class="input_fields">
                      <h4>Размер упаковки</h4>
                      <input id="box_sizeProfit" type="text" name="box_size" oninput="checkFormFields('WBsoleProfit')"><i>ex: 8*8*8</i>
                    </div>
                    <div class="input_fields_right">
                      <h4>Себестоимость единицы</h4>
                      <input id="cost_per_one" type="text" name="cost_per_one" oninput="checkFormFields('WBsoleProfit')"> RUB
                    </div>
                    <div class="input_fields">
                      <h4>Цена</h4>
                      <input id="priceProfit" type="text" name="price" oninput="checkFormFields('WBsoleProfit')"> RUB
                    </div>
                    <div class="input_fields_right">
                      <h4>Количество</h4>
                      <input id="countProfit" type="text" name="count" oninput="checkFormFields('WBsoleProfit')">
                    </div>
                    <input id="submitButton" type="submit" value="Рассчитать">
                </div>
              </form>
            </div>


         </div>  

      </section>

      <section class="right">
          <div class="advert"></div>

          <div class="output_field">
            <h3>Результат</h3>
              <div class="result">
                {% if result %}
                  {% for item in result %}
                    <p>{{ item }}</p>
                  {% endfor %}
                {% endif %}
              </div>
              <button id="clearButton">Clear</button>
          </div>
      </section>

    </div>

  </main>

  <footer>
    <p><i>So... It is crap definitely, but it works...<i></p>
  </footer>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

  </body>
</html>

